body{
    text-align: center;
    background-image: url(https://media0.giphy.com/media/VDAZZhE97qSCKSe6vJ/200w.webp?cid=ecf05e47d69b804c6e88abe50c9c045af8eb48b536250cdc&rid=200w.webp);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}
.Title{
    text-align: center;
    color: rgb(78, 78, 150);
}

#sleep {
    border-radius: 75%;
    background-color: blue;
}

#food {
    border-radius: 75%;
    background-color: blueviolet;
}

#play {
    border-radius: 75%;
    background-color: chartreuse;
}

#play-game {
    border-radius: 75%;
    background-color: rgb(241, 144, 163);
}

#Boredom {
    background-color: rgb(193, 229, 157);
    margin: 0 325px 0 325px;

}

#sleepiness{
    background-color: rgb(148, 148, 230);
    margin: 0 325px 0 325px;

}

#hunger {
    background-color: rgb(170, 129, 207);
    margin: 0 325px 0 325px;

}

#age {
    background-color: rgb(120, 231, 194);
    margin: 0 325px 0 325px;
}
#Name{
    text-align: center;
    color: rgb(78, 78, 150);
}